<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Argos</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <main class="container">
      <div id="header">
        {% block title %}<a href="/"><h1 id="title">Argos monitoring</h1></a>{% endblock %}
      </div>
      
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>