{% extends "base.html" %}
{% block title %}<h2>{{domain}}</h2>{% endblock %}
{% block content %}
    <div id="domains" class="frame">
        <table id="domains-list" role="grid">
        <thead>
            <tr>
                <th>URL</th>
                <th>Check</th>
                <th>Expected</th>
                <th>Current status</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="domains-body">
            {% for task in tasks %}
            <tr>
                <td>{{ task.url }}</td>
                <td>{{ task.check }}</td>
                <td>{{ task.expected }}</td>
                <td class="status highlight"><a data-tooltip="Completed at {{ task.completed_at }}" href="/result/{{ task.last_result.id }}">{% if task.status == "success" %}✅ Success {% elif task.status == "error"%}⚠ Error{% elif task.status == "failure"%}❌ Failure{% endif %}</a></td>
                <td><a href="/task/{{task.id}}/results">view all</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
        </table>    
    </div>
{% endblock %}