{% extends "base.html" %}
{% block content %}
    <div id="domains" class="frame">
        <p>
            {{domains | length}} domains,
            {{ total_task_count }} tasks,
            <a href="/agents">{{ agents |length }} agent{% if agents|length > 1 %}s{% endif %}</a>

            </p>
    
        <table id="domains-list" role="grid">
        <thead>
            <tr>
            <th>Domain</th>
            <th class="today">Current status</th>
            <th>Last check</th>
        </thead>

        <tbody id="domains-body">
            {% for (domain, status) in domains %}
            <tr>
                <td>
                <a href="/domain/{{domain}}">
                    {{ domain }} </a>
                </td>
                
                <td class="status highlight">{% if status == "ok" %}✅ OK {% elif statuts == "warning"%}⚠ Warning{% elif status == "critical"%}❌ Critical{% elif status == "to-process" %}⏱︎ Waiting for the jobs{% endif %}</td>
                <td>{{ last_checks.get(domain) }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
        </table>    
    </div>
{% endblock %}