{% extends "base.html" %}
{% block title %}<h2>{{ task }}</h2>{% endblock %}
{% block content %}
<code>{{ description }}</code>
<table role="grid">
    <thead>
        <tr>
            <th>Submitted at</th>
            <th>Status</th>
            <th>Severity</th>
            <th>Context</th>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result.submitted_at }}</td>
            <td>{{ result.status }}</td>
            <td>{{ result.severity }}</td>
            <td>{{ result.context }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}